.other-commands {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 0 0 0;
    border-top: 1px solid #8d8d8d;
}

.other-commands__title {
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}