.navi__link {
  display: flex;
  margin: 0;
  padding: 0;
  color: rgb(200, 200, 200);
  text-decoration-line: none;
  font-size: 16px;
  text-transform: uppercase;
}

.navi__link:hover {
  color: #fff;
  text-shadow: 1px 1px 4px rgb(153, 138, 105), -1px -1px 4px rgb(153, 138, 105),
    -1px 1px 4px rgb(153, 138, 105), 1px -1px 4px rgb(153, 138, 105);
}
