
.input {
    margin: 0;
    padding: 0 5px;
    font-size: 16px;
    width: 6em;
    /*width: 100%;*/
    height: 30px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 0px 4px 1px;
    white-space: nowrap;
    background-color: inherit;
    color: inherit;
    /*overflow: hidden;*/
}

@media screen and (max-width: 540px) {
    .input {
        font-size: 12px;
    }
}
