.backgrnd {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 1366px;
  width: 100%;
  height: 910px;
  background-image: url(../../image/sky_night.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.backgrnd::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.5;
}
