.control__styles {
    display: grid;
    grid-template-columns: minmax(min-content, 170px) repeat(4, minmax(70px, 95px));
    grid-template-rows: 1fr;
    column-gap: 10px;
    margin: 0;
    padding: 20px 0 0 0;
    grid-template-areas: "one two three four five";
}

@media screen and (max-width: 900px) {
    .control__styles {
        grid-template-columns: repeat(4, minmax(70px, 110px));
        grid-template-rows: 2fr;
        row-gap: 10px;
        grid-template-areas: "one one . ." "two three four five";
    }
}

@media screen and (max-width: 700px) {
    .control__styles {
        grid-template-columns: repeat(3, minmax(70px, 110px));
        grid-template-rows: 3fr;
        grid-template-areas: "one one ." "two three four" "five five five";
        padding-top: 30px;
    }
}