.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0;
  background-color: #040504;
  z-index: 1;
}
