.intro__link {
  display: flex;
  margin: 0 0 0 25px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  height: 45px;
  color: #000;
  text-decoration-line: none;
  font-size: 20px;
  border-style: none;
  border-radius: 25px 3px 25px 3px;
  background-color: rgb(200, 200, 200);
  opacity: 0.8;
  transition: 0.2s opacity linear;
  box-shadow: inset -3px -2px 4px 0px rgb(78, 63, 43),
    inset 3px 2px 4px 0px #fff;
}

.intro__link:hover {
  opacity: 1;
}

.intro__link:active {
  box-shadow: inset 3px 2px 4px 0px rgb(78, 63, 43),
    inset -3px -2px 4px 0px #fff;
  font-size: 19px;
}
