.social-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 32px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 16px 2px 16px 2px;
}

.social-icon__link:hover {
  box-shadow: 0px 0px 4px 1px rgb(153, 138, 105);
}
