.navi__button {
  margin: 0 25px 0 0;
  padding: 0;
  max-width: 150px;
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(200, 200, 200);
  opacity: 0.8;
  transition: 0.2s opacity linear;
  box-shadow: inset -3px -2px 4px 0px rgb(78, 63, 43),
    inset 3px 2px 4px 0px #fff;
  border-radius: 15px 2px 15px 2px;
  border-style: none;
}

.navi__button:last-of-type {
  margin-right: 0;
}

.navi__button:hover {
  opacity: 1;
}

.navi__button:active {
  box-shadow: inset 3px 2px 4px 0px rgb(78, 63, 43),
    inset -3px -2px 4px 0px #fff;
  font-size: 13px;
}
