.navi {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.navi .navi__submenu {
  transform: scaleY(0);
  transform-origin: 0 0;
}

.navi ul li:hover .navi__submenu {
  transform: scaleY(1);
}
