.navi__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navi__links > li {
  display: inline-block;
  margin-right: 25px;
  position: relative;
}

.navi__links > li:last-child {
  margin-right: 0;
}
