.social-icon__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-icon__links li {
  margin-right: 25px;
}

.social-icon__links li:last-child {
  margin-right: 0;
}
