#firmware_status_overlay {
	position: relative;
	margin-top: 1em;
/*	margin-left: 1em;*/
}

#firmware_progress_text {
	position: absolute;
	left: 10em;
	top: 1px;
	margin: 0px;
	z-index: 1;
	mix-blend-mode: difference;
	color: #FFF;
}
#firmware_progress {
/*	position: absolute;*/
	left: 1px;
	top: 0;
	width: 20em;
}
#firmware_state {
	position: absolute;
	left: 1em;
	top: 1px;
	margin: 0px;
	z-index: 1;
	mix-blend-mode: difference;
	color: #FFF;
}