.params thead,
.params tfoot {
	background-color: rgb(150, 150, 150);
	color: #fff;
}

.params tbody {
	/*background-color: rgb(216, 216, 216);*/
}

.params caption {
	padding: 10px;
	caption-side: top;
}

.params table {
	border-collapse: collapse;
	/*border: 2px solid rgb(141, 141, 141);*/
	/*letter-spacing: 1px;
	font-family: sans-serif;
	font-size: .8rem; */
}

.params td,
.params th {
	/*border: 1px solid #000;*/
	padding: 1px 5px;
}

.params td {
/*	text-align: center;*/
}

table.params input {
	padding: 0px;
	border: 0px;
}


.setup .status h2 {
	padding: 5px;
	margin-bottom: 1em;
	color: inherit;
}
.setup .status h4 {
	padding: 5px;
	margin: 5px;
	background-color: rgb(200, 200, 200);
	border-radius: 5px;
}
.setup .status h4:hover {
	background-color: rgb(180, 180, 180);
}
.setup .status a {
	color: inherit;
}
