@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/backgrnd/backgrnd.css);
@import url(../blocks/main/main.css);
@import url(../blocks/main-control/main-control.css);
@import url(../blocks/header/header.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/status/status.css);
@import url(../blocks/status/__title/status__title.css);
@import url(../blocks/status/__line/status__line.css);
@import url(../blocks/status/__subtitle/status__subtitle.css);
@import url(../blocks/status/__label/status__label.css);

@import url(../blocks/status/__cameras/cameras.css);

@import url(../blocks/control/control.css);
@import url(../blocks/control/__styles/control__styles.css);
@import url(../blocks/control/__styles/control__tel.css);
@import url(../blocks/control/__nav/control__nav.css);
@import url(../blocks/control/__other-commands-title/control__other-commands-title.css);
@import url(../blocks/control/__subtitle/control__subtitle.css);

@import url(../blocks/control/cells.css);

@import url(../blocks/buttons/buttons.css);
@import url(../blocks/buttons/joystick.css);
@import url(../blocks/input/input.css);
@import url(../blocks/indicator/tel_indicator.css);
@import url(../blocks/popup/popup-msg.css);
@import url(../blocks/setup/reg_table.css);
@import url(../blocks/setup/flash_block.css);
@import url(../blocks/errors/errors.css);

@import url(../blocks/colors/colors.css);

.border_radius {
    border-radius: 10px;
}

.shadow_block {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}
