.control__nav {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px 10px 0 0;
    background-color: rgb(150, 150, 150);
}

@media screen and (min-width: 1500px) {
    .control__nav {
	display: none;
    }
}

.control__title {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
    border: 0;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*background-color: rgb(150, 150, 150);*/
    background-color: inherit;
    font-weight: normal;
    box-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.5);
    transition-property: font-size;
    transition-duration: .1s;
    transition-timing-function: linear;
}

.control__title:hover {
    font-size: 18px;
    cursor: pointer;
}

.control__title:last-of-type {
    border-radius: 10px 10px 0 0;
}

.control__title.active {
    background-color: rgb(216, 216, 216);
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 0;
}

.control__title .active:hover {
    cursor: default;
}
